Repository rs-patn/cars_two: changes, and which CircleCI parameters are due for each by the changed paths.
All: update-migrations, update-schema-model

modifed workflow.yml
  .circleci/workflow.yml
Due: none

create cars info table
  .circleci/workflow.yml
  migrations/V1.0.0_20220503151426__createCars_InfoTable.sql
  schema-model/RedGateDatabaseInfo.xml
  schema-model/Tables/dbo.car_info.sql
Due: update-migrations, update-schema-model

test comment
  migrations/V1.0.0_20220503151426__createCars_InfoTable.sql
Due: update-migrations

Modifying migrationPath
  .circleci/workflow.yml
Due: none

adding Mileage column
  migrations/V1.0.1_20220503153227__addingMileagecolumn.sql
  schema-model/Tables/dbo.car_info.sql
Due: update-migrations, update-schema-model

adding license plate column
  .circleci/workflow.yml
  migrations/V1.0.2_20220504180320__patr0922.sql
  schema-model/Stored Procedures/dbo.SelectAllCarInfos.sql
  schema-model/Tables/dbo.car_info.sql
Due: update-migrations, update-schema-model

Path conditions:
  update-migrations: any of: migrations/.*
  update-schema-model: any of: schema-model/.*
